.sectionThree{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.btnContainer2{
    display: none;
}
.btnContainer{
    border-radius: 1rem;
    border: 1px solid #FFF;
    background: #101010;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem 1rem;
    gap: 1.5rem;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.62rem 2.12rem;
    color: var(--primary-color);
    font-family: Sora;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    background-color: transparent;
    border-radius: 0.5rem;
    cursor: pointer;
}
.btn:hover{
    background: linear-gradient(88deg, #936203 -11.64%, #F4C656 100%);
}
.btnSelected{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.62rem 2.12rem;
    color: #000;
    font-family: Sora;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 1px solid #EAB846;
    background: linear-gradient(88deg, #936203 -11.64%, #F4C656 100%);
}
.container{
    width: 100%;
    height: auto;
    padding: 4rem 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.containerb{
    width: 100%;
    height: auto;
    padding: 4rem 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section1{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.12rem;
}
.section1 h2{
    margin: 0;
    color: var(--primary-color);
    text-align: center;
    font-family: Sora;
    font-size: 2.9375rem;
    font-weight: 600;
    line-height: 4.20706rem;
    letter-spacing: 0.04406rem;
}
.section1b{
    width: 48%;
    max-width: 45rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3.12rem;
}
.section1b h2{
    margin: 0;
    color: var(--primary-color);
    font-family: Sora;
    font-size: 2.9375rem;
    font-weight: 600;
    line-height: 4.20706rem;
    letter-spacing: 0.04406rem;
}
.yellowLine{
    width: 3.125rem;
    height: 0;
    border: 1px solid #ECBE4F;
    margin-top: -1.37rem;
}
.section1 p, .section1b p{
    color: var(--primary-color);
    text-align: justify;
    font-family: Poppins;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.625rem;
    opacity: 0.7;
}
.section2{
    width: 100%;
    max-width: 40rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section2 img{
    width: 100%;
    max-width: 40rem;
    height: auto;
}
.none{
    display: none;
}
.section2b{
    width: 48%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.section2b img{
    width: 100%;
    max-width: 40rem;
    height: auto;
}
@media(max-width: 1500px){
    .container, .containerb{
        padding: 4rem 6.5rem;
    }
}

@media(max-width: 1350px){
    .container, .containerb{
        padding: 4rem;
    }
}
@media(max-width: 1079px){
    .sectionThree{
        gap: 2rem;
    }
    .container, .containerb{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 7.5rem;
    }
    .section1b{
        width: 100%;
        max-width: none;
    }
    .section1b h2{
        text-align: center;
    }
    .section2b{
        width: 100%;
        max-width: 40rem;
        justify-content: center;
    }
}
@media(max-width: 950px){
    .btnContainer{
        gap: 0.5rem;
    }
    .btn, .btnSelected{
        padding: 0.62rem;
    }
}
@media(max-width: 767px){
    .btnContainer{
        display: none;
    }
    .btnContainer2{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1.21rem;
    }
    .select{
        width: 100%;
        height: 4.0625rem;
        padding: 0 1rem;
        border-radius: 0.5rem;
        border: 1px solid #EAB846;
        background: linear-gradient(88deg, #936203 -11.64%, #F4C656 100%);
        color: #000;
        font-family: Sora;
        font-size: 1.3125rem;
        font-weight: 600;
        line-height: 1.5rem;
        margin: 0;
    }
    .select option{
        max-width: 100px;
    }
    .container, .containerb{
        padding: 3.5rem 1.21rem;
        gap: 3.72rem;
    }
    .section1, .section1b{
        gap: 1.12rem;
        margin-top: -5rem;
    }
    .yellowLine{
        display: none;
    }
    .section1 h2, .section1b h2{
        display: none;
    }
    .section1 p, .section1b p{
        font-size: 1rem;
        line-height: 1.625rem;
    }
}