.container{
    position: relative;
    overflow: hidden;
}
.sectionBackground{
    position: relative;
    overflow: hidden;
}
.background1{
    position: absolute;
    width: 100rem;
    height: auto;
    bottom: -30rem;
    right: 3rem;
    z-index: -1;
}
.background2{
    position: absolute;
    z-index: -1;
    width: 150%;
    height: auto;
    left: -30%;
    transform: rotate(30deg);
    opacity: 0.5;
}
.section16Container{
    max-height: 140rem;
    overflow-y: auto;
}
@media(max-width: 1441px){
    .background2{
        top: 10%;
    }
}
@media(max-width: 1100px){
    .background2{
        left: -50%;
        width: 300%;
    }
}
@media(max-width: 1078px){
    .background2{
        left: -60%;
        width: 200%;
    }
}
@media(max-width: 767px){
    .background1, .background2{
        display: none;
    }
}